.calculator {
    padding: 20px;
    height: 100vh;
    width: 400px;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--calc-bg);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calculator__btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator__toggle{
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 43px;
    margin-top: 30px;
    position: absolute;

}

.calculator__btns button {
    border: 0;
    outline: 0;
    border-radius: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: transparent;
    color: var(--txt-color);
}

/* .calculator__btns button:last-child {
    border-radius: 50%;
    color: var(--txt-white);
    background-image: linear-gradient(312deg, #cd6e36, #d400ff);
} */

.calculator__btns .btn__op {
    color: white;
    background-color: #4c63f3;
}

.calculator__btns .btn__op2 {
    color: black;
    background-color: #d2d3d9;
}

.calculator__btns .btn__op2__dark {
    color: white;
    background-color: #4e505e;
}

.calculator__btns .btn__op3 {
    color: black;
    background-color: white;
}

.calculator__btns .btn__op3__dark {
    color: white;
    background-color: #2e2f37;
}

.calculator__result {
    position: relative;
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.calculator__result__exp {
    font-size: 3.5rem;
    line-height: 1;
    transform-origin: right bottom;
    transition: transform 0.3s ease;
    color: var(--calc-res-color);
}

.calculator__result__exp:last-child {
    position: absolute;
    right: 0;
    color: gray;
}

.calculator__result__exp span {
    display: inline-block;
    overflow: hidden;
    transition: width 0.2s ease;
}

@media only screen and (max-width: 400px) {
    .calculator {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}


/* Toggle Button */

.checkbox {

	opacity: 0;
	position: absolute;
}

.label {
	background-color: #17171c;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label__dark{
    background-color: #4e505e;
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
    margin-left: -2px;
    margin-top: 1px;
}

.fa-sun {
    margin-top: 1px;
}

/* Bagian Ribbon */

.ribbon{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ribbon::before{
    position: absolute;
    width: 150%;
    height: 40px;
    background: #d2d3d9;
    transform: rotate(-45deg) translateY(-20px);

    content: 'production';
    font-weight: 600;
    color: #c79c5a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.ribbon__dark::before{
    background: #4e505e;
}